body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}
.test {
  width: 100%;
  height: 40vh;
  background-color: white;
  background-image: url("./imgs/covid.jpeg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: bottom;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.world {
  margin-top: 15px;
}

.cardStuff {
  width: 300px;
  margin-top: 20px;
  text-align: center;
}

.latestData {
  text-align: center;
  margin-top: 20px;
}
